
*.log
testing/Powersupply_automatic_tests/Powersupply_automatic_tests/obj/Debug/Powersupply_automatic_tests.csproj.AssemblyReference.cache
encosure/inventor/rev1/OldVersions/
encosure/inventor/rev1/
encosure/inventor/rev4/OldVersions/
testing/Powersupply_automatic_tests/Powersupply_automatic_tests/bin/
testing/Powersupply_automatic_tests/Powersupply_automatic_tests/obj/
testing/Powersupply_automatic_tests/Powersupply_automatic_tests/Properties/
pcb/altium/Powersupply/3d/
pcb/altium/Powersupply/History/
pcb/altium/Powersupply/Project Outputs for Powersupply/
pcb/altium/Powersupply/Project Outputs for powersupply_rev2/
powersupply_firmware/Backup/
powersupply_firmware/powersupply_firmware.cywrk.simen
powersupply_firmware/Archive/
powersupply_firmware/graphictools/
powersupply_firmware/powersupply_firmware_Copy_02.cydsn/
powersupply_firmware/powersupply_firmware_Copy_01.cydsn/
powersupply_firmware/rtos test.cydsn/
powersupply_firmware/ComponentUpdateLog.txt
powersupply_firmware/powersupply_firmware.cywrk
powersupply_firmware/Timer01.cydsn/
powersupply_firmware/USBFS_UART02.cydsn/
powersupply_firmware/powersupply_firmware.cydsn/cyapicallbacks.h
powersupply_firmware/powersupply_firmware.cydsn/codegentemp/
powersupply_firmware/powersupply_firmware.cydsn/CortexM3/
powersupply_firmware/powersupply_firmware.cydsn/Generated_Source/
powersupply_firmware/powersupply_firmware.cydsn/USBFS_UART01.cydsn/
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.cydwr
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.cycdx
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.cyprj.simen
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.cyfit
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.svd
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware.rpt
powersupply_firmware/powersupply_firmware.cydsn/powersupply_firmware_timing.html
powersupply_firmware/powersupply_firmware.cydsn/Export/
pcb/altium/Powersupply/__Previews/
pcb/altium/Powersupply/Production files/2022-02-23/Status Report.Txt
*.apr
*.APR_LIB
testing/Powersupply_automatic_tests/.vs/
